<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Devoir VueJs e-commerce</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
      integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="./styles/style.css" />
  </head>
  <body>
    <div id="products">
      <nav class="navbar">
        <div class="navbar-item">
          <i class="fa-solid fa-heart"></i>
          <i
            v-if="isItemLiked"
            class="fa-solid fa-circle fa-2xs"
            style="color: #ff0000"
          ></i>
        </div>
        <div class="navbar-item">
          <i class="fa-solid fa-cart-shopping"></i>
          <i
            v-if="isItemInCart"
            class="fa-solid fa-circle fa-2xs"
            style="color: #ff0000"
          ></i>
        </div>
      </nav>
      <div class="product-container">
        <div v-for="productItem in productList" :key="productItem.id">
          <card-product
            :id="productItem.id"
            :name="productItem.name"
            :imgsrc="productItem.imgSrc"
            :like="productItem.like"
            :price="productItem.price"
            :togglelike="togglelike"
            :addtocart="addToCart"
          ></card-product>
        </div>
      </div>
    </div>

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script type="module" src="script.js"></script>
  </body>
</html>
